<div class="row">
    <div class="row">
        <div class="col-md-1" style="text-align:right">
            <h4>De:</h4>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select name="mesDe" id="mesDe" class="form-control">
                    <option value="01">Janeiro</option>
                    <option value="02">Fevereiro</option>
                    <option value="03">Março</option>
                    <option value="04">Abril</option>
                    <option value="05">Maio</option>
                    <option value="06">Junho</option>
                    <option value="07">Julho</option>
                    <option value="08">Agosto</option>
                    <option value="09">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select name="anoDe" id="anoDe" class="form-control">
                    @for (int i = @DateTime.Now.Year; i > @DateTime.Now.Year - 10; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" style="text-align:right">
            <h4>Até:</h4>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select name="mesAte" id="mesAte" class="form-control">
                    <option value="01">Janeiro</option>
                    <option value="02">Fevereiro</option>
                    <option value="03">Março</option>
                    <option value="04">Abril</option>
                    <option value="05">Maio</option>
                    <option value="06">Junho</option>
                    <option value="07">Julho</option>
                    <option value="08">Agosto</option>
                    <option value="09">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select name="anoAte" id="anoAte" class="form-control">
                    @for (int i = @DateTime.Now.Year; i > @DateTime.Now.Year - 10; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" style="text-align:right">
            <h4>Top:</h4>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select name="top" id="top" class="form-control">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <button type="submit" id="btnFiltrar" class="btn btn-default btn-lg">
                Buscar
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</div>