@using SEDOGv2.Helpers;
@using SEDOGv2.Models;

@{
    ViewBag.Title = "HistoricoNRICobranca";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="row">
            <div class="panel-heading  text-center">
                <h2>
                    Billing History
                </h2>
            </div>
        </div>

        <div class="col-md-12 alertMessage" runat="server" id="divAlert">
            @Html.Raw(ViewBag.Error)
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Voltar", "Edit", new { @id = ViewBag.Receita.ID_PROJNRI }, new { @class = "link" })
                <h3>Detalhes da Receita</h3>
                <table class="table table-hover table-bordered updateTotalTable1">
                    <tr>
                        <th>Revenue</th>
                        <th>Responsible</th>
                        <th>%</th>
                        <th>Deal</th>
                        <th>Obs</th>
                    </tr>
                    <tr>
                        <td>@ViewBag.Receita.TIPO_RECEITA</td>
                        <td>@ViewBag.Receita.RESPONSAVEL</td>
                        <td>@ViewBag.Receita.PERCENT</td>
                        <td>@ViewBag.Receita.ACORDO</td>
                        <td>@ViewBag.Receita.OBS_RECEITA</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="detalhesBody">
                    <h4 data-toggle="collapse" data-target="#tblNovoProjeto" class="clickRotateIcon">Novo Histórico<i class="fa fa-arrow-circle-down pull-right rotate"></i></h4>
                    <div id="tblNovoProjeto" class="collapse in" style="background-color:rgba(125,125,125,0.2)">
                        @using (Html.BeginForm())
                        {
                            <input type="hidden" name="ID_SEQ" value="@ViewBag.Receita.ID_SEQ" />
                            <table class="table">
                                <tr>
                                    <th>Contact</th>
                                    <th>Comments</th>
                                    <th>Value</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control input-md" id="CONTATO" name="CONTATO" placeholder="Nome do Contato" /></td>
                                    <td><input type="text" class="form-control input-md" id="COMENTARIOS" name="COMENTARIOS" placeholder="Comentários" /></td>
                                    <td><input type="text" class="form-control input-md" id="VALOR" name="VALOR" placeholder="Valor" /></td>
                                    <td><input type="text" class="form-control input-md" id="DATA" name="DATA" placeholder="Data da cobrança" /></td>
                                    <td align="right"><input type="submit" name="salvar" class="btn btn-default" value="Adicionar Histórico" /></td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">


                <table class="table table-hover table-bordered updateTotalTable1">
                    <tr>
                        <th>Data</th>
                        <th>Contato</th>
                        <th>Comentários</th>
                        <th>Status</th>
                        <th>Cobrança</th>
                        <th>Ação</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                    @foreach (NRIHsitoricoCobrancaViewModel item in Model)
                    {
                        <tr>
                            <td>@string.Format("{0:d}", item.DATA_REGISTRO)</td>
                            <td>@item.CONTATO</td>
                            <td>@item.COMENTARIOS</td>
                            <td>@item.STATUS</td>
                            <td>@string.Format("{0:d}", item.DATA_COBRANCA)</td>
                            <td>@item.ACAO_USER</td>
                            <td>@string.Format("{0:C}", item.VALOR)</td>
                            <td>
@if (item.STATUS == "PENDENTE")
{

                                    @Html.ActionLink("Finalizar", "HistoricoNRICobrancaFechar", new { @id = item.ID, @id_seq = item.ID_SEQ }, new { @class = "link" })<span> | </span><a href="@Url.Action("HistoricoNRICobrancaApagar", "Artistas360", new { @id = item.ID, @id_seq = item.ID_SEQ })" class="linkRemove" data-title="Remover Cobrança" data-query="Are you sure you want to remove item @item.COMENTARIOS/ @item.VALOR?">Remover</a>
}
                            </td>


                    </tr>
                    }
                </table>
            </div>
        </div>

    </div>

</div>
<div id="myModalRemoveCobranca" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" href="#" id="followLinkRemove">Sim</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#DATA").datepicker({
            format: "yyyy-mm-dd",
            language: "pt-BR",
            orientation: "auto",
            autoclose: true
        });

        $(".linkRemove").click(function (e) {
            $("#followLinkRemove").attr('href', $(this).attr('href'));
            $("#myModalRemoveCobranca .modal-title").html($(this).data("title"));
            $("#myModalRemoveCobranca .modal-body").html($(this).data("query"));
            $("#myModalRemoveCobranca").modal("show");
            e.preventDefault();
        });

        $("#followLinkRemove").click(function () {
            $("#myModalRemoveCobranca").modal("toggle");
            $('#pleaseWaitDialog').modal({
                backdrop: 'static'
            });
        });
    });
</script>