@model IEnumerable<SEDOGv2.Models.TopArtistaDigitalViewModel>

    @using SEDOGv2.Helpers;

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_LoggedIn.cshtml";
        int num = 0;
        decimal total = 0;
    }


                      <div class="container-fluid">
                          @using (Html.BeginForm("Index", "TopArtistaDigital", FormMethod.Post))
                          {
                              <div class="panel panel-success">
                                  <!-- Default panel contents -->
                                  <div class="row">
                                      <div class="panel-heading  text-center">
                                          <h2>
                                              @appSettings.pageName()
                                          </h2>
                                      </div>
                                  </div>


                                  <div class="col-md-12" id="divAlert">
                                      @ViewBag.Message
                                  </div>


                                  <div class="row">
                                      <div class="col-md-3 text-right">
                                          <div class="form-group">
                                              <h4>Month:</h4>
                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="form-group">
                                              <select class="form-control" name="mes" id="mes">
                                                  <option value="0"> -- All --</option>
                                                  <option value="01">January</option>
                                                  <option value="02">February</option>
                                                  <option value="03">March</option>
                                                  <option value="04">April</option>
                                                  <option value="05">May</option>
                                                  <option value="06">June</option>
                                                  <option value="07">July</option>
                                                  <option value="08">August</option>
                                                  <option value="09">September</option>
                                                  <option value="10">October</option>
                                                  <option value="11">November</option>
                                                  <option value="12">December</option>
                                              </select>
                                          </div>
                                      </div>

                                      <div class="col-md-3 text-right">
                                          <div class="form-group">
                                              <h4>Year:</h4>
                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="form-group">
                                              <select class="form-control" name="ano" id="ano">
                                                  <option value="0"> -- All --</option>
                                                  @for (int ano = 0; ano <= DateTime.Now.Year - 2010; ano++)
                                                  {
                                                    <option value="@(DateTime.Now.AddYears(-ano).ToString("yyyy"))">@DateTime.Now.AddYears(-ano).ToString("yyyy")</option>
                                                  }
                                              </select>
                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="form-group">
                                              <input type="submit" name="Gerar" value="Generate" class="btn btn-default" />
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          }
                          <div class="panel panel-success panel-report">
                              <div class="row">
                                  <div class="col-md-10 text-right">
                                      Export to
                                  </div>
                                  <div class="col-md-1 text-center">
                                      <button type="submit" class="btn btn-default printPDF">
                                          <i class="fa fa-file-pdf-o fa-4"></i>
                                      </button>
                                      <button type="submit" class="btn btn-default printExcel">
                                          <i class="fa fa-file-excel-o fa-4"></i>
                                      </button>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12" id="tbExcel">
                                      <table class="table table-sm">
                                          <tr class="bg-default reportHeader">
                                              <td></td>
                                              <td>Month: @ViewBag.Mes</td>
                                              <td>Year: @ViewBag.Ano</td>
                                              <td></td>
                                          </tr>
                                          <tr class="bg-default reportHeader">
                                              <th>Year/Month</th>
                                              <th>Artist</th>
                                              <th>Total</th>
                                              <th>Source</th>
                                          </tr>

                                          @foreach (var item in Model)
                                          {
                                              total += item.NETREVENUE;
                                              <tr>
                                                  <td>
                                                      @Html.DisplayFor(modelItem => item.ACCOUNTINGYEARMONTH)
                                                  </td>
                                                  <td>
                                                      @Html.DisplayFor(modelItem => item.ARTISTNAME)
                                                  </td>
                                                  <td>
                                                      @Html.DisplayFor(modelItem => item.NETREVENUE)
                                                  </td>
                                                  <td>
                                                      @Html.DisplayFor(modelItem => item.TYPE)
                                                  </td>
                                              </tr>
                                          }
                                          <tr class="bg-default reportHeader">
                                              <td colspan="2">Total</td>
                                              <td>@string.Format("{0:c2}", total)</td>
                                              <td></td>
                                          </tr>
                                      </table>
                                  </div>
                              </div>
                          </div>
                          <div class="print" style="display:none;">
                              <table cellspacing="0px" style="width:100%">
                                  <tr>
                                      <td colspan="4" class="left"><img src="@SEDOGv2.Controllers.ContentToPrint.ResolveServerUrl("/Content/themes/base/images/logomarca_bw.jpg", false)" width="141" height="84" style="width:141px; height:84px" /></td>
                                  </tr>
                                  <tr>
                                      <td colspan="4" style="text-align:center"><h2 style="text-align:center" class="bold underline">Top Digital Artist Report</h2></td>
                                  </tr>
                                  <tr>
                                      <td colspan="4" style="text-align:center" class="bgRed">Month: @ViewBag.Mes / Year: @ViewBag.Ano</td>
                                  </tr>
                                  <tr>
                                      <td class="RDLast">Year/Month</td>
                                      <td class="RDLast">Artist</td>
                                      <td class="RDLast">Total</td>
                                      <td class="RDLast">Source</td>
                                  </tr>
                                  
                                  @foreach (var item in Model)
                                  {
                                      if (num == 0) { num = 1; } else { num = 0; }
                                      <tr>
                                          <td class="altRow_@num">@Html.DisplayFor(modelItem => item.ACCOUNTINGYEARMONTH)</td>
                                          <td class="altRow_@num">@Html.DisplayFor(modelItem => item.ARTISTNAME)</td>
                                          <td class="altRow_@num">@Html.DisplayFor(modelItem => item.NETREVENUE)</td>
                                          <td class="altRow_@num">@Html.DisplayFor(modelItem => item.TYPE)</td>
                                      </tr>
                                  }
                                  <tr>
                                      <td colspan="2" class="RDLast">Total</td>
                                      <td class="RDLast">@string.Format("{0:c2}", total)</td>
                                      <td class="RDLast"></td>
                                  </tr>
                              </table>
                          </div>
                      </div>

        @using (Html.BeginForm("Index", "Print", FormMethod.Post, new { id = "printForm" }))
        {
            <input type="hidden" name="PrintHtmlContent" id="PrintHtmlContent" />
            <input type="hidden" name="PrintHtmlType" id="PrintHtmlType" />
        }
