@using SEDOGv2.Helpers;
@using SEDOGv2.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}


<style type="text/css">
    .li-loading {
        float: right;
        margin-right: 6px;
        margin-top: -23px;
        position: relative;
        z-index: 2;
    }
</style>



<div class="container-fluid">
    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="row">
            <div class="panel-heading  text-center">
                <h2>
                    @appSettings.pageName()
                </h2>
            </div>
        </div>

        <div class="col-md-12 alertMessage" runat="server" id="divAlert">
            @Html.Raw(ViewBag.Message)
        </div>




       @using (Html.BeginForm("Index", "VendasDigitaisPorFaixa", FormMethod.Post))
       {
            <div class="row">

                <div class="col-md-2 text-left">
                    <div class="form-group">
                        <label style="font-size:18px; font-weight: bold;">Ano</label>
                 
                        <select class="form-control" name="ano" id="ano">
                            <option value="0"> Year </option>
                            @for (int ano = 0; ano <= DateTime.Now.Year - (DateTime.Now.Year - 3); ano++)
                            {
                                <option value="@(DateTime.Now.AddYears(-ano).ToString("yyyy"))" selected="@(DateTime.Now.AddYears(-ano).ToString("yyyy") == ViewBag.Ano)">@DateTime.Now.AddYears(-ano).ToString("yyyy")</option>
                            }
                        </select>
                    </div>
                </div>
               
                
                <div class="col-md-2 text-left">
                    <div class="form-group">
                        <label style="font-size:18px; font-weight: bold;"> Month </label>

                        <select class="form-control" name="mes" id="mes">
                            <option value="00" selected="@("00" == ViewBag.Mes)"> Month </option>
                            <option value="01" selected="@("01" == ViewBag.Mes)">January</option>
                            <option value="02" selected="@("02" == ViewBag.Mes)">February</option>
                            <option value="03" selected="@("03" == ViewBag.Mes)">March</option>
                            <option value="04" selected="@("04" == ViewBag.Mes)">April</option>
                            <option value="05" selected="@("05" == ViewBag.Mes)">May</option>
                            <option value="06" selected="@("06" == ViewBag.Mes)">June</option>
                            <option value="07" selected="@("07" == ViewBag.Mes)">July</option>
                            <option value="08" selected="@("08" == ViewBag.Mes)">August</option>
                            <option value="09" selected="@("09" == ViewBag.Mes)">September</option>
                            <option value="10" selected="@("10" == ViewBag.Mes)">October</option>
                            <option value="11" selected="@("11" == ViewBag.Mes)">November</option>
                            <option value="12" selected="@("12" == ViewBag.Mes)">December</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-5 text-left">
                    <div class="form-group">
                        <label style="font-size:18px; font-weight: bold;">Artist/Track/ISRC:</label>

                        <input class="typeahead form-control" placeholder="Artist" id="typeAheadISRC" name="nomeISRC" value="@ViewBag.consultaNomeCodArtista" /><i id="loading" class="fa fa-cog fa-spin fa-fw hidden li-loading"></i>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <br />

                        <input type="submit" name="buscar" value="Search" class="btn btn-default btn-lg btn-block" />
                    </div>
                </div>

            </div>

        }




@if (Model != null)
{
    decimal _valorTotal = 0;
    <div class="panel panel-success panel-report">
        <div class="row">
            <div class="col-md-10 text-right">
                Export to
            </div>
            <div class="col-md-1 text-center">
                <button type="submit" class="btn btn-default printPDF">
                    <i class="fa fa-file-pdf-o fa-4"></i>
                </button>
                <button type="submit" class="btn btn-default printExcel">
                    <i class="fa fa-file-excel-o fa-4"></i>
                </button>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12" id="tbExcel">
                <table class="table table-striped table-bordered table-inline" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Year/Month</th>
                            <th>usageType</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.AccountingYearMonth
                            </td>
                            <td>
                                @item.usageType
                            </td>
                            <td>
                                @string.Format("{0:C4}", item.Valor)
                            </td>
                        </tr>

                        _valorTotal += item.Valor;
                    }
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                Total
                            </td>
                            <td>
                                @string.Format("{0:C4}", _valorTotal)
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>

        </div>
    </div>


    <div class="print" style="display:none;">
        <table cellspacing="0px" style="width:100%">
            <tr>
                <td colspan="6" class="left"><img src="@SEDOGv2.Controllers.ContentToPrint.ResolveServerUrl("/Content/themes/base/images/logomarca_bw.jpg", false)" width="141" height="84" style="width:141px; height:84px" /></td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:center"><h2 style="text-align:center" class="bold underline">@appSettings.pageName()</h2></td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:center" class="bgRed">Mês: @ViewBag.Mes / Year: @ViewBag.Ano</td>
            </tr>

                <tr>
                    <th>Year/Month</th>
                    <th>usageType</th>
                    <th>Amount</th>
                </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.AccountingYearMonth
                    </td>
                    <td>
                        @item.usageType
                    </td>
                    <td>
                        @string.Format("{0:C4}", item.Valor)
                    </td>
                </tr>

                _valorTotal += item.Valor;
            }
            <tfoot>
                <tr>
                    <td colspan="2">
                        Total
                    </td>
                    <td>
                        @string.Format("{0:C4}", _valorTotal)
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}





    </div>

</div>

@using (Html.BeginForm("Index", "Print", FormMethod.Post, new { id = "printForm" }))
{
    <input type="hidden" name="PrintHtmlContent" id="PrintHtmlContent" />
    <input type="hidden" name="PrintHtmlType" id="PrintHtmlType" />
}

