@model SEDOGv2.Models.RespostaCadastroProjetoViewModel

@using SEDOGv2.Helpers;
@using SEDOGv2.Models;

@{
    ViewBag.Title = "Cadastro de Projeto SEDOG";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}
<div class="container-fluid">
    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="row">
            <div class="panel-heading  text-center">
                <h2>
                    @appSettings.pageName()
                </h2>
                <h3>Finished</h3>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <table class="table">
                    <tr>
                        <td colspan="10" class="text-center"><h4>Project Data</h4></td>
                    </tr>
                    <tr>
                        <th>
                            Sedog Project ID
                        </th>
                        <th>
                            Project Name
                        </th>
                        <th>
                            Artist ID
                        </th>
                        <th>
                            Artist Name
                        </th>
                        <th>
                            Obs
                        </th>
                        <th>
                            Contract Name
                        </th>
                        <th>
                            Process Type
                        </th>
                        <th>
                            Release Type
                        </th>
                        <th>
                            Release
                        </th>
                        <th>
                            Origin
                        </th>
                    </tr>


                    <tr>
                        <td>
                            @Model.IdProjetoSedog
                        </td>
                        <td>
                            @Model.NomeDoProjeto
                        </td>
                        <td>
                            @Model.IdArtista
                        </td>
                        <td>
                            @Model.NomeDoArtista
                        </td>
                        <td>
                            @Model.Obs
                        </td>
                        <td>
                            @Model.TipoContrato
                        </td>
                        <td>
                            @Model.TipoProcesso
                        </td>
                        <td>
                            @Model.TipoRelease
                        </td>
                        <td>
                            @Model.Lancamento
                        </td>
                        <td>
                            @Model.Origem
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10" class="text-center"><h4>Project Related Inclusions</h4></td>
                    </tr>
                    <tr>
                        <td colspan="10">
                            <table width="100%">
                                <tr>
                                    <th>Details</th>
                                    <th>Error</th>
                                    <th>Message</th>
                                </tr>
                                @foreach (SEDOGv2.Models.Resposta<string> item in Model.Includes)
                                {
                                    <tr>
                                        <td>@item.Dados</td>
                                        <td>@if (item.Error != "")
                                        {
                                            <span>@item.Error</span>
                                        }
                                        else {
                                            <span>No</span>
                                        }</td>
                                        <td>
                                            @if (item.Message != "")
                                        {
                                            <span>@item.Message</span>
                                        }
                                        else
                                        {
                                            <span>SUCCESSFULLY INCLUDED</span>
                                        }
                                    </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
