@using SEDOGv2.Helpers;
@using SEDOGv2.Models;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}

<style>
    td {
        font-size: 75%;
    }
</style>

<div class="container-fluid">

    @using (Html.BeginForm("Index", "ImportNRI", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="row">
                <div class="panel-heading  text-center">
                    <h2>
                        @appSettings.pageName()
                    </h2>
                </div>
            </div>


            <div class="col-md-12" runat="server" id="divAlert">
                @ViewBag.Error
            </div>


            <div class="row">
                <div class="col-md-4 text-right">
                    <div class="form-group">
                        <h4>File:</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control" placeholder="Select File" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" name="enviar" value="Send" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model != null)
    {
        <div class="panel panel-success panel-report">
            <div class="row">
                <div class="panel-heading  text-center">
                    <h2>
                        Processed File: @ViewBag.FileName
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            @*<th>
                                Linhas Processadas
                            </th>*@
                            <th>
                                @*Sedog Project*@
                                Sedog Prjct
                            </th>
                            <th>
                                Year
                            </th>

                            @*<th>
                                Release Date
                            </th>*@

                            <th>
                                YTD
                            </th>
                            <th>
                                Artist
                            </th>
                            <th>
                                Lic. Income
                            </th>
                            <th>
                                Lic. Royalties
                            </th>
                            <th>
                                Lic. Margin
                            </th>
                            <th>
                                Premium 
                            </th>
                            <th>
                                Sponsor Live Events
                            </th>
                            <th>
                                Other Adv
                            </th>
                            <th>
                                Managmet Commiss
                            </th>
                            <th>
                                Live Event
                            </th>
                            <th>
                                Live Agency
                            </th>
                            <th>
                                Pass. Tour 
                            </th>
                            <th>
                                Pass. Publish
                            </th>
                            <th>
                                All NRI
                            </th>
                        </tr>
@foreach (var i in Model)
{
                        <tr>
                           
                                <td>
                                    @i.IdProjetoSedog
                                </td>
                                <td>
                                    @i.Year
                                </td>
                                @*<td>
                                    @i.ReleaseDate
                                </td>*@
                                <td>
                                    @i.YTD
                                </td>
                                <td>
                                    @i.ArtistName
                                </td>
                                <td>
                                    @i.LicenseIncome
                                </td>
                                <td>
                                    @i.LicenseRoyalties
                                </td>
                                <td>
                                    @i.LicenceMargin
                                </td>
                                <td>
                                    @i.Premium
                                </td>
                                <td>
                                    @i.SponsorShip
                                </td>
                                <td>
                                    @i.OtherAdv
                                </td>
                            <td>
                                @i.ManagmntComiission
                            </td>
                            <td>
                                @i.LiveEvent
                            </td>
                            <td>
                                @i.LiveAgency
                            </td>
                            <td>
                                @i.PassiveTouring
                            </td>
                            <td>
                                @i.PassivePublishing
                            </td>
                            <td>
                                @i.AllNRI
                            </td>



                        </tr>
                            }
                    </table>
                </div>
            </div>
        </div>
    }
</div>
