@using SEDOGv2.Helpers;
@using SEDOGv2.Models;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="row">
            <div class="panel-heading  text-center">
                <h2>
                    @appSettings.pageName()
                </h2>
            </div>
        </div>
        <div class="col-md-12" id="divAlert">

        </div>
    </div>

    <div class="panel panel-success">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-1">
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "link" })
                </div>
                <div class="col-md-3">
                    <h4>ID: @Model.idProjSedog</h4>
                </div>
                <div class="col-md-4">
                    <h4>Artist: @Model.Artista</h4>
                </div>
                <div class="col-md-4">
                    <h4>Project: @Model.Projeto</h4>
                </div>
            </div>
        </div>
        <div class="row setup-content">
            <div class="col-md-12">
                @using (Html.BeginForm("EditDetalhesProjeto", "ManutencaoProjeto", FormMethod.Post))
                {
                    <input type="hidden" name="idProjSedog" value="@Model.idProjSedog" />
                    <input type="hidden" name="idArtista" value="@Model.IdArtista" />

                    <div class="row">
                        <h3 class="text-center">SEDOG Project Detail</h3>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nomeDoProjeto">Project Name</label>
                                <input type="text" id="nomeDoProjeto" name="nomeDoProjeto" class="form-control input-lg" placeholder="Type a name for this project" value="@Model.Projeto" aria-describedby="basic-addon2">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nomeDoArtista">Artist</label>
                                <input type="text" id="nomeDoArtista" name="nomeDoArtista" class="form-control input-lg" placeholder="Type the rtist name" value="@Model.Artista" aria-describedby="basic-addon2">
                            </div>
                        </div>

                    </div>

                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lancamento">Release Date</label>
                                <input type="text" id="lancamento" name="lancamento" class="form-control input-lg" placeholder="Release Date" value="@Model.LancamentoProduto.ToString("yyyy-MM-dd")" aria-describedby="basic-addon2">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="selResponsavel" class="control-label">Responsible</label>
                                <select class="form-control input-lg" id="selResponsavel" name="selResponsavel">
                                    @foreach (Usuario _user in Model._Usuarios)
                                    {
                                        <option value="@_user.Login" selected="@(@_user.Login == Model.Responsavel)">@_user.Nome</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>


                    <div class="row">


                        <div class="col-md-3">


                            <div class="form-group">
                                @if (Model.Obs.IndexOf("DIG") > -1)
                                {
                                    <label><input type="checkbox" name="obs[]" value="DIG" class="chkBoxObs" checked="checked" />Digital</label>
                                }
                                else
                                {
                                    <label><input type="checkbox" name="obs[]" value="DIG" class="chkBoxObs" />Digital</label>
                                }
                                &nbsp;
                                @if (Model.Obs.IndexOf("FIS") > -1)
                                {
                                    <label><input type="checkbox" name="obs[]" value="FIS" class="chkBoxObs" checked="checked" />Physical</label>
                                }
                                else
                                {
                                    <label><input type="checkbox" name="obs[]" value="FIS" class="chkBoxObs" />Physical</label>
                                }
                                &nbsp;
                                @if (Model.Obs.IndexOf("CD") > -1)
                                {
                                    <label><input type="checkbox" name="obs[]" value="CD" class="chkBoxObs" checked="checked" />CD</label>
                                }
                                else
                                {
                                    <label><input type="checkbox" name="obs[]" value="CD" class="chkBoxObs" />CD</label>
                                }
                                &nbsp;
                                @if (Model.Obs.IndexOf("DV") > -1)
                                { 
                                    <label><input type="checkbox" name="obs[]" value="DV" class="chkBoxObs" checked="checked" />DV</label>
                                }
                                else
                                {
                                    <label><input type="checkbox" name="obs[]" value="DV" class="chkBoxObs" />DV</label>
                                }

                            </div>
                        </div>


                        <div class="col-md-1">
                            <div class="form-group">

                                <label for="percArt" class="control-label">% Digital Artistic:</label>
                                <input type="text" id="_percArt" class="form-control input-lg" placeholder="%" value="@Model.plParametrosDireitos.PERCENT_ARTISTICO_DIG" aria-describedby="basic-addon2" style="width:80px;height:34px" />
                                <input type="hidden" id="percArt" name="percArt" value="@Model.plParametrosDireitos.PERCENT_ARTISTICO_DIG" />

                            </div>
                        </div>

                        <div class="col-md-1">

                            <div class="form-group">
                                <label for="percArt" class="control-label">% Digital Copyright:</label>
                                <input type="text" id="_percAut" class="form-control input-lg" placeholder="%" value="@Model.plParametrosDireitos.PERCENT_AUTORAL_DIG" aria-describedby="basic-addon2" style="width:80px;height:34px" />
                                <input type="hidden" id="percAut" name="percAut" value="@Model.plParametrosDireitos.PERCENT_AUTORAL_DIG" />
                            </div>
                        </div>

                       

                        <div class="col-md-1">

                            <div class="form-group">
                                @if (Model.Nacionalidade == "GOS")
                                {
                                    <label><input type="checkbox" name="GOS" value="GOS" class="chkBoxGOS" checked="checked" />Gospel</label>
                                }
                                else
                                {
                                    <label><input type="checkbox" name="GOS" value="GOS" class="chkBoxGOS" />Gospel</label>
                                }

                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="selTipoRelease" class="control-label">Release Type:</label>
                                <select class="form-control input-lg" id="selTipoRelease" name="selTipoRelease">
                                    @foreach (TipoRelease item in Model._TipoRelease)
                                    {
                                        if (item.ID_TIPO_RELEASE == Model.IdTipoRelease.ToString())
                                        {
                                            <option value="@item.ID_TIPO_RELEASE" selected="selected">@item.TIPO_RELEASE</option>

                                        }
                                        else
                                        {
                                            <option value="@item.ID_TIPO_RELEASE">@item.TIPO_RELEASE</option>

                                        }
                                    }
                                </select>
                                <input type="hidden" id="selOrigem" name="selOrigem" />
                            </div>
                        </div>

                    </div>

                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="selGeneroMusical" class="control-label">Genre</label>
                                <select class="form-control input-lg" id="selGeneroMusical" name="selGeneroMusical">
                                    @foreach (Genero_Musical _genero in Model._TipoGeneroMusical)
                                    {
                                        <option value="@_genero.ID_GENERO_MUSICAL" selected="@(@_genero.ID_GENERO_MUSICAL == Model.IdGeneroMusical)">@string.Concat(_genero.GENERO, " - ", _genero.TIPO)</option>
                                    }
                                </select>

                            </div>
                        </div>

                        <div class="col-md-6">

                            <label for="selTipoContrato" class="control-label">Contract Type:</label>
                            <select class="form-control input-lg" id="selTipoContrato" name="selTipoContrato">
                                @foreach (TipoContrato item in Model._TipoContrato)
                                {
                                    if (item.ID_TIPO_CONTRATO == Model.IdTipoContrato.ToString())
                                    {
                                        <option value="@item.ID_TIPO_CONTRATO" selected="selected">@item.TIPO_CONTRATO</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID_TIPO_CONTRATO">@item.TIPO_CONTRATO</option>
                                    }
                                }
                            </select>



                        </div>

                    </div>


                        <div class="row">


                            <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="ebtidaProjetada" class="control-label">Projected Ebtida</label>
                                        <input type="text" id="ebtidaProjetada" name="ebtidaProjetada" class="form-control input-lg" placeholder="%" value="@Model.EBITDAProjetado" aria-describedby="basic-addon2" />

                                    </div>

                            </div>

                            <div class="col-md-6">

                                <label for="selTipoProcesso" class="control-label">Process Type:</label>
                                <select class="form-control input-lg" id="selTipoProcesso" name="selTipoProcesso">
                                    @foreach (TipoProcesso item in Model._TipoProcesso)
                                    {
                                        if (item.ID_TIPO_PROCESSO == Model.IdTipoProcesso.ToString())
                                        {
                                            <option value="@item.ID_TIPO_PROCESSO" selected="selected">@item.TIPO_PROCESSO</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID_TIPO_PROCESSO">@item.TIPO_PROCESSO</option>
                                        }
                                    }
                                </select>

                            </div>

                        </div>

                        <div class="row">


                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="receitaProjetada" class="control-label">Projected Revenue</label>
                                    <input type="text" id="receitaProjetada" name="receitaProjetada" class="form-control input-lg" placeholder="%" value="@Model.RECEITAProjetado" aria-describedby="basic-addon2" />

                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="receitaProjetada" class="control-label">KPI</label>
                                    <select class="form-control input-lg" id="selIdMedidorKPI" name="selIdMedidorKPI">
                                        @foreach (Medidor_KPI _MedidorKPI in Model._MedidorKPI)
                                        {
                                            <option value="@_MedidorKPI.ID_MEDIDOR_KPI" selected="@(@_MedidorKPI.ID_MEDIDOR_KPI == Model.IdMedidorKPI)">@_MedidorKPI.MEDIDOR_KPI</option>
                                        }
                                    </select>

                                </div>
                            </div>

                        </div>


                        <div class="row">


                            <div class="col-md-6">
                                <div class="form-group">



                                </div>
                            </div>

                            <div class="col-md-6">

                                <input type="submit" value="Save" class="btn btn-default" />

                            </div>

                        </div>




                }
            </div>
        </div>
        <div class="row noBg">
            <div class="wrapper">
                <div class="itm">
                    <div class="detalhesBody">
                        <h4 data-toggle="collapse" data-target="#tblProjetosDigitais" class="clickRotateIcon">Digital Projects:<i class="fa fa-arrow-circle-down pull-right rotate"></i></h4>
                        <div id="tblProjetosDigitais" class="collapse in">
                            <table class="table">
                                <tr>
                                    <th>Digital Project Id</th>
                                    <th>Nome do Projeto</th>
                                    <th><a href="@Url.Action("AddProjetoDigital" , "ManutencaoProjeto" , new { @id = Model.idProjSedog, @idArt = Model.IdArtista })" class="linkDiv" data-title="Add Digital Projects"><i class="fa fa-plus"></i> Add</a></th>
                                </tr>
                                @foreach (PL_Projeto item in Model.plProjeto)
                                {
                                    <tr>
                                        <td>@item.IDPROJ</td>
                                        <td>@item.PROJECTNAME</td>
                                        <td><a href="@Url.Action("RemoveProjetoDigital" , "ManutencaoProjeto" , new { @id = Model.idProjSedog, @idProjDigital = item.IDPROJ })" class="linkRemove" data-title="Delete Digital Project" data-query="Are you sure yo want to delete the item @item.IDPROJ / @item.PROJECTNAME?"><i class="fa fa-remove"></i> Delete</a></td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="itm">
                    <div class="detalhesBody">
                        <h4 data-toggle="collapse" data-target="#tblProdutosBUS" class="clickRotateIcon">Project's BU:<i class="fa fa-arrow-circle-down pull-right rotate"></i></h4>
                        <div id="tblProdutosBUS" class="collapse in">
                            @using (Html.BeginForm("AddBU", "ManutencaoProjeto", FormMethod.Post))
                            {
                                <input type="hidden" name="idProjSedog" value="@Url.RequestContext.RouteData.Values["id"]" />
                                <table class="table">
                                    <tr>
                                        <th>Product Code</th>
                                        <th>Packing</th>
                                        <th>BU</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th><input type="text" name="cod_prod" class="input-sm" /></th>
                                        <th><input type="text" name="packing" class="input-sm" /></th>
                                        <th><input type="text" name="BU" class="input-sm" /></th>
                                        <th><input type="submit" name="salvar" class="btn btn-default" value="include" /></th>
                                    </tr>
                                    @foreach (PL_Produto_BUS item in Model.plProdutoBus)
                                    {
                                        <tr>
                                            <td>@item.COD_PRODUTO</td>
                                            <td>@item.PACKING</td>
                                            <td>@item.BU</td>
                                            <td><a href="@Url.Action("DelBU" , "ManutencaoProjeto" , new { @id = Model.idProjSedog, @codprod = item.COD_PRODUTO, @packing = item.PACKING, @BU = item.BU })" class="linkRemove" data-title="Delete BU" data-query="Areu sure you want to delete the item @item.COD_PRODUTO / @item.PACKING / @item.BU?"><i class="fa fa-remove"></i> Delete</a></td>
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <div class="itm">
                    <div class="detalhesBody">
                        <h4 data-toggle="collapse" data-target="#tblProdutosFisicos" class="clickRotateIcon">Physical Products:<i class="fa fa-arrow-circle-down pull-right rotate"></i></h4>
                        <div id="tblProdutosFisicos" class="collapse in">
                            <table class="table">
                                <tr>
                                    <th>Product ID</th>
                                    <th>Packing</th>
                                    <th>Media</th>
                                    <th>Artist</th>
                                    <th>Title</th>
                                    <th>Release</th>
                                    <th><a href="@Url.Action("AddProdutoFisico" , "ManutencaoProjeto" , new { @id = Model.idProjSedog, @artista = Model.Artista })" class="linkDiv" data-title="Add Physical Product"><i class="fa fa-plus"></i> Add</a></th>
                                </tr>
                                @foreach (PL_Produto item in Model.plProduto)
                                {
                                    <tr>
                                        <td>@item.COD_PRODUTO</td>
                                        <td>@item.PACKING</td>
                                        <td>@item.MIDIA</td>
                                        <td>@item.ARTISTA</td>
                                        <td>@item.TITULO_PRODUTO</td>
                                        <td>@item.DATA_LANCAMENTO</td>
                                        <td>
                                            <a href="@Url.Action("RemoveProdutoFisico" , "ManutencaoProjeto" , new { @id = Model.idProjSedog, @codprod = item.COD_PRODUTO, @packing = item.PACKING })" title="Remover" class="linkRemove" data-title="Remove Products" data-query="Are you sure yo want to delete the item @item.COD_PRODUTO / @item.PACKING?"><i class="fa fa-times"></i></a>
                                            &nbsp; <a href="@Url.Action("EditProdutoFisico" , "ManutencaoProjeto" , new { @id = Model.idProjSedog, @codprod = item.COD_PRODUTO, @packing = item.PACKING })" title="Edit - Copyrights" class="linkEdit" data-title="Edit Product"><i class="fa fa-pencil-square-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="itm">
                    <div class="detalhesBody">
                        <h4 data-toggle="collapse" data-target="#tblReceitasExtras" class="clickRotateIcon">Extra Revenue:<i class="fa fa-arrow-circle-down pull-right rotate"></i></h4>
                        <div id="tblReceitasExtras" class="collapse in">
                            @using (Html.BeginForm("AddReceitaExtra", "ManutencaoProjeto", FormMethod.Post))
                            {
                                <table class="table">
                                    <tr>
                                        <th>Revenue Type</th>
                                        <th>Revenue</th>
                                        <th>Expense</th>
                                        <th>Year/Month</th>
                                        <th>
                                            <input type="hidden" name="idProjSedog" value="@Url.RequestContext.RouteData.Values["id"]" />
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <select class="form-control" id="selTipoReceita" name="selTipoReceita">
                                                @foreach (TipoReceita item in Model._TipoReceita)
                                                {
                                                    <option value="@item.ID_TIPO_RECEITA" selected="selected">@item.TIPO_RECEITA</option>
                                                }
                                            </select>
                                        </th>
                                        <th><input type="text" name="valor" class="input-sm" style="width:100px" /></th>
                                        <th><input type="text" name="despesa" class="input-sm" style="width:100px" /></th>
                                        <th><input type="text" id="dataReceitaExtra" name="data" class="input-sm" style="width:100px" /></th>
                                        <th><input type="submit" name="salvar" class="btn btn-default" value="add" /></th>
                                    </tr>
                                    @foreach (PL_Receitas_Extras item in Model.plReceitasExtras)
                                    {
                                        <tr>
                                            <td>@item.TIPO_RECEITA</td>
                                            <td>@item.VALOR</td>
                                            <td>@item.DESPESA</td>
                                            <td>@item.ANOMES</td>
                                            <td><a href="@Url.Action("RemoveReceitaExtra" , "ManutencaoProjeto" , new { @id = item.IDPROJ_SEDOG, @idTipoReceita = item.ID_TIPO_RECEITA , @valor = item.VALOR })" class="linkRemove" data-title="Remover Receita Extra" data-query="Are you sure yo want to delete the item @item.TIPO_RECEITA/ @item.VALOR?"><i class="fa fa-remove"></i> Delete</a></td>
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalEditProjetos" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default hidden" id="salvarAltProjetoSedog">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalRemoveEditProjetos" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" href="#" id="followLinkRemove">Yes</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#lancamento").datepicker({
            format: "yyyy-mm-dd",
            language: "@appSettings._User.Culture",
            orientation: "top auto",
            autoclose: true
        });

        $("#dataReceitaExtra").datepicker({
            format: "yyyy-mm-dd",
            language: "@appSettings._User.Culture",
            orientation: "bottom auto",
            autoclose: true
        });

        $("#selOrigem").val($("#selTipoRelease option:selected", this).text().toUpperCase().substr(0, 3));

        $("#selTipoContrato, #selTipoRelease, #selTipoProcesso").on('change', function (e) {
            if (this.id == "selTipoRelease") {
                var tipo = $("option:selected", this).text().toUpperCase().substr(0, 3);
                $("#selOrigem").val(tipo);
                if (tipo == "INT") {
                    $("#percArt,#_percArt").val("40");
                    $("#percAut,#_percAut").val("0");
                    $("#_percArt , #_percAut").prop('disabled', true);
                } else {
                    //    $("#percArt,#_percArt").val("0");
                    //    $("#percAut,#_percAut").val("0");
                    $("#_percArt , #_percAut").prop('disabled', false);
                }
            }
        });

        $("#_percAut,#_percArt").on("keyup", function (e) {
            $("#percArt").val($("#_percArt").val());
            $("#percAut").val($("#_percAut").val());
            CreateResumo();
        });

        $(".linkRemove").click(function (e) {
            $("#followLinkRemove").attr('href', $(this).attr('href'));
            $("#myModalRemoveEditProjetos .modal-title").html($(this).data("title"));
            $("#myModalRemoveEditProjetos .modal-body").html($(this).data("query"));
            $("#myModalRemoveEditProjetos").modal("show");
            e.preventDefault();
        });

        $("#followLinkRemove").click(function () {
            $("#myModalRemoveEditProjetos").modal("toggle");
            $('#pleaseWaitDialog').modal({
                backdrop: 'static'
            });
        });

        $(".linkDiv").click(function () {
            $("#salvarAltProjetoSedog").addClass("hidden");
            $("#myModalEditProjetos .modal-title").html($(this).data("title"));
            $("#myModalEditProjetos .modal-body").html("<p><i class=\"fa fa-cog fa-spin fa-fw\"></i>Carregando...</p>").load($(this).attr('href') + " #mainContent", function () {
                if ($("#submitEditProjSedog").length > 0) {
                    $("#salvarAltProjetoSedog").removeClass("hidden");
                }
            });
            $("#myModalEditProjetos").modal("show");
            return false;
        });


        $(".linkEdit").click(function () {
            $("#salvarAltProjetoSedog").addClass("hidden");
            $("#myModalEditProjetos .modal-title").html($(this).data("title"));
            $("#myModalEditProjetos .modal-body").html("<p><i class=\"fa fa-cog fa-spin fa-fw\"></i>Carregando...</p>").load($(this).attr('href') + " #mainContent", function () {
                if ($("#submitEditProjSedog").length > 0) {
                    $("#salvarAltProjetoSedog").removeClass("hidden");
                }
            });
            $("#myModalEditProjetos").modal("show");
            return false;
        });


        $("#salvarAltProjetoSedog").click(function () {
            $("#myModalEditProjetos").modal('toggle');
            $('#pleaseWaitDialog').modal({
                backdrop: 'static'
            });
            $("#submitEditProjSedog").trigger('click');
        });
    });
</script>