@using SEDOGv2.Models;
@{
    ViewBag.Title = "EditProdutoFisico";
}



<div id="mainContent">

    @using (Html.BeginForm("EditProdutoFisico", "ManutencaoProjeto", FormMethod.Post, new { @id = "frmEditProdutoFisico" }))
    {
        <input type="hidden" name="idProjSedog" value="@Url.RequestContext.RouteData.Values["id"]" />
            <input type="hidden" name="codprod" value="@Model.COD_PRODUTO" />
            <input type="hidden" name="packing" value="@Model.PACKING" />

            <div class="row">
                <div class="col-md-12"><label>Project:</label>  <span>@Model.PROJETO</span></div>
                <div class="col-md-12"><label>Artist:</label> <span>@Model.ARTISTA</span></div>
                <div class="col-md-12"><label>Title:</label> <span>@Model.TITULO_PRODUTO</span></div>
            </div>
            <br />

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">Copyright:</span>
                        <input type="text" id="autoral" name="autoral" class="form-control" placeholder="Copyright(%)" value="@Model.AUTORAL" aria-describedby="basic-addon2">
                    </div>
                    <br />
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">Artistic:</span>
                        <input type="text" id="artistico" name="artistico" class="form-control" placeholder="Artistic(%)" value="@Model.ARTISTICO" aria-describedby="basic-addon2">
                    </div>
                    <br />
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">Producer Royalty:</span>
                        <input type="text" id="producer" name="producer" class="form-control" placeholder="Producer Royalty(%)" value="@Model.PRODUCER" aria-describedby="basic-addon2">
                    </div>
                    <br />
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">Other Royalty:</span>
                        <input type="text" id="other" name="other" class="form-control" placeholder="Other Royalty(%)" value="@Model.OTHER" aria-describedby="basic-addon2">
                    </div>
                    <input type="submit" id="submitEditProjSedog" value="Save" class="btn btn-default" style="display:none;" />
    }

</div>

