@using SEDOGv2.Helpers;
@using SEDOGv2.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="row">
            <div class="panel-heading  text-center">
                <h2>
                    @appSettings.pageName()
                </h2>
            </div>
        </div>
        <div class="col-md-12" id="divAlert">
            @Html.Raw(Model.Message)
        </div>
    </div>

    <div class="panel panel-success panel-report">
        <div class="row">
            <table class="table table-striped table-bordered table-inline tableSortPagging" cellspacing="0" width="100%">
                <thead>
                    <tr class="bg-default">
                        <th>Project ID</th>
                        <th>Project</th>
                        <th>Artist ID</th>
                        <th>Artist</th>
                        <th>Origin</th>
                        <th>Details</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (PLProjeto item in Model.Dados)
                {
                    <tr>
                        <td>@item.IDProj_SEDOG</td>
                        <td>@item.Projeto</td>
                        <td>@item.IDArtista</td>
                        <td>@item.Artista</td>
                        <td>@item.Nacionalidade</td>
                        <td>@item.OBS</td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IDProj_SEDOG }, new { @class = "link" }) |
                            <a href="@Url.Action("Delete" , "ManutencaoProjeto" , new { @id = item.IDProj_SEDOG})" class="linkRemove" data-title="Apagar Projeto SEDOG" data-query="Are you sure you want to remove the item @item.Projeto/ @item.Artista?">Delete</a>
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>
<div id="myModalRemoveEditProjetos" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" href="#" id="followLinkRemove">Sim</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".linkRemove").click(function (e) {
            $("#followLinkRemove").attr('href', $(this).attr('href'));
            $("#myModalRemoveEditProjetos .modal-title").html($(this).data("title"));
            $("#myModalRemoveEditProjetos .modal-body").html($(this).data("query"));
            $("#myModalRemoveEditProjetos").modal("show");
            e.preventDefault();
        });

        $("#followLinkRemove").click(function () {
            $("#myModalRemoveEditProjetos").modal("toggle");
            $('#pleaseWaitDialog').modal({
                backdrop: 'static'
            });
        });

    });
</script>
